mule/RestMule/target/classes/MainMule.xml
<?xml version="1.0" encoding="UTF-8"?>

<<<<<<< HEAD
<<<<<<< HEAD
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
=======
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
>>>>>>> fe434bb5f397172f6cc8843347788616860320c5
=======
<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
>>>>>>> parent of d089772... added mule flows
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
<<<<<<< HEAD
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8080" doc:name="HTTP Listener Configuration" basePath="/mule"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="4242"  doc:name="HTTP Request Configuration" basePath="/rest/v1"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
=======
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8080" doc:name="HTTP Listener Configuration" basePath="/mule"/>
	<http:request-config name="HTTP_Request_Configuration" host="localhost" port="4242"  doc:name="HTTP Request Configuration" basePath="/rest/v1"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration1" host="localhost" port="8585" basePath="/fantasyteams" doc:name="HTTP Request Configuration"/>
    <apikit-soap:config name="APIkit_SOAP__Configuration" portName="TeamServicePort" serviceName="TeamServiceService" wsdlUrl="http://localhost:8585/FantasyTeams?wsdl" doc:name="APIkit SOAP: Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="http://localhost:8585/FantasyTeams?wsdl" service="TeamServiceService" port="TeamServicePort" serviceAddress="http://localhost:8585/FantasyTeams" doc:name="Web Service Consumer"/>
>>>>>>> fe434bb5f397172f6cc8843347788616860320c5
    <flow name="ShowAllPlayers" initialState="started" doc:description="works">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/draft" allowedMethods="GET" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/fantasy/player" method="GET" doc:name="REST"/>
    </flow>
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
    <flow name="Teams">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/teams" allowedMethods="GET" doc:name="HTTP"/>
        <response>
            <ws:consumer config-ref="Web_Service_Consumer" operation="displayTeams" doc:name="Web Service Consumer"/>
        </response>
    </flow>
>>>>>>> parent of d089772... added mule flows
    <flow name="FreeAgentsDraft">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/freeagents/draft/{teamname}/{playerid}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="teamname" value="#[message.inboundProperties.'http.uri.params'.teamname]" doc:name="TeamName"/>
        <set-variable variableName="playerid" value="#[message.inboundProperties.'http.uri.params'.playerid]" doc:name="PlayerId"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/draft/{playerid}/{teamname}" method="GET" doc:name="REST">
            <http:request-builder>
                <http:uri-param paramName="teamname" value="#[flowVars.teamname]"/>
                <http:uri-param paramName="playerid" value="#[flowVars.playerid]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="FreeAgentsRelease">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/freeagents/release/{teamname}/{playerid}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="teamname" value="#[message.inboundProperties.'http.uri.params'.teamname]" doc:name="TeamName"/>
        <set-variable variableName="playerid" value="#[message.inboundProperties.'http.uri.params'.playerid]" doc:name="PlayerId"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/release/{playerid}/{teamname}" method="GET" doc:name="REST">
            <http:request-builder>
                <http:uri-param paramName="teamname" value="#[flowVars.teamname]"/>
                <http:uri-param paramName="playerid" value="#[flowVars.playerid]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="MuleCheck">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/ready" doc:name="HTTP"/>
        <set-payload value="Mule is active and running!" doc:name="Set Payload"/>
    </flow>
>>>>>>> fe434bb5f397172f6cc8843347788616860320c5
    <flow name="PlayersPositions">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/playersinposition/{position}" allowedMethods="GET, POST" doc:name="HTTP"/>
        <set-variable variableName="position" value="#[message.inboundProperties.'http.uri.params'.position]" doc:name="Position" metadata:id="3a946f96-0ce2-4f87-81a9-7606f12f2787"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/fantasy/{position}" method="GET" doc:name="REST">
            <http:request-builder>
                <http:uri-param paramName="position" value="#[flowVars.position]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="Draft">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/freeagents/draft/{teamname}/{playerid}" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="GET, POST" doc:name="REST"/>
    </flow>
<<<<<<< HEAD
<<<<<<< HEAD
=======
    <flow name="JSONGetSimWeek">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getsimweek" allowedMethods="GET" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/simweek" method="GET" doc:name="HTTP"/>
        <response>
            <json:json-to-xml-transformer doc:name="JSON to XML"/>
        </response>
    </flow>
>>>>>>> fe434bb5f397172f6cc8843347788616860320c5
=======
>>>>>>> parent of d089772... added mule flows
    <flow name="MainMuleFlow">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/rest" allowedMethods="GET" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/player" method="GET" doc:name="HTTP"/>
    </flow>
</mule>
